:host
  display: block
  position: relative;
  min-height: 500px; /* fallback for older browsers */
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  // -webkit-transform-style: preserve-3d;
  // transform-style: preserve-3d;

  &::after
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    transform: translateZ(-1px) scale(1.5);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;

.background
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  transform: translateZ(-1px) scale(1.5);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;